.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 0 46px 0;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @media (max-width: 1430px) {
    max-width: 1140px;
  }
  @media (max-width: 1200px) {
    max-width: 960px;
    padding-bottom: 65px;
  }
  @media (max-width: 990px) {
    max-width: 100%;
    margin: 0 15px;
  }
  &__tel {
    transition: 0.3s ease;
    text-decoration: none;
    color: #fffffe;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 13px;
    @media (max-width: 1440px) {
      margin-left: 5px;
    }
    @media (max-width: 1200px) {
      margin-left: 5px;
    }

    &:hover {
      color: $l-grey;
    }

    @media (max-width: 990px) {
      text-indent: -9999px;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $white;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAABDUlEQVQokY2RMUtDMRRGT1twEIqBigh1FJrBoXERXB1FhAqWTgVBdPEPdBA7d+mgk+AqiIJIBVfdXMyaP9A9gyAo5UkglZg8n/22e+85uQkpNZoL88AD0AS2jbavzJAy0AO2gBowkkqszSp2g3oReJJKrCRkjhhDdWA3IXPEz6g3Bu4TMkd8i3odo62TC+PE6whoFwnhxkt/vWmOpRKbCRmLRtsP4CjoVYA7qcRqQkcbMdo+AoOgvww8SyU2XCGVaEglXqQSp1OglGUZfug23QCt4IAJcAHs+W9yOTPa9n9EL88Bt8DOP088+SUG8jlwWCB+JWJwQAcYAks549GfoperwAGwD6wD78AV0P8GbclA/DwxcUUAAAAASUVORK5CYII=");
      border-radius: 100%;
      background-size: 1rem 0.87rem;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &__place {
    transition: 0.3s ease;
    text-decoration: none;
    color: #fffffe;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 13px;
    @media (max-width: 1440px) {
      margin-right: 5px;
    }
    @media (max-width: 1200px) {
      margin-right: 5px;
    }

    &:hover {
      color: $l-grey;
    }

    @media (max-width: 990px) {
      text-indent: -9999px;
      width: 2.5rem;
      height: 2.5rem;
      background-color: transparent;
      border: 1px solid $grey;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAABDUlEQVQokY2RMUtDMRRGT1twEIqBigh1FJrBoXERXB1FhAqWTgVBdPEPdBA7d+mgk+AqiIJIBVfdXMyaP9A9gyAo5UkglZg8n/22e+85uQkpNZoL88AD0AS2jbavzJAy0AO2gBowkkqszSp2g3oReJJKrCRkjhhDdWA3IXPEz6g3Bu4TMkd8i3odo62TC+PE6whoFwnhxkt/vWmOpRKbCRmLRtsP4CjoVYA7qcRqQkcbMdo+AoOgvww8SyU2XCGVaEglXqQSp1OglGUZfug23QCt4IAJcAHs+W9yOTPa9n9EL88Bt8DOP088+SUG8jlwWCB+JWJwQAcYAks549GfoperwAGwD6wD78AV0P8GbclA/DwxcUUAAAAASUVORK5CYII=");
      border-radius: 100%;
      background-size: 1rem 0.87rem;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 991px) {
        display: none;
      }
    }

    &__tel {
      margin-left: 3.75rem;
      white-space: nowrap;
      @media (max-width: 1440px) {
        margin-left: 1.3rem;
      }
      @media (max-width: 1200px) {
        margin-left: 1rem;
      }
      @media (max-width: 990px) {
        display: flex;
      }
    }

    &__menu {
      @media (max-width: 990px) {
        display: flex;
      }
    }

    &__place {
      white-space: nowrap;
      @media (max-width: 990px) {
        display: none;
      }
    }
  }
  &__menu {
    @media (min-width: 991px) {
      display: none;
    }
    @media (max-width: 990px) {
      text-indent: -9999px;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $white;
      background-image: url("../../../img/svg/menu.svg");
      border-radius: 100%;
      background-size: 1rem 0.87rem;
      background-repeat: no-repeat;
      background-position: center center;
      &:focus {
        outline: none;
      }
    }
  }
}
.menu {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  padding: 0px;
  border-radius: 100%;
  transition: .2s ease border;
  cursor: pointer;
}
.modal-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  padding: 30px 20px;
}
.modal-menu .nav {
  flex-direction: column;
  align-items: center;
}
.modal-menu .nav-item {
  margin-bottom: 1rem;
  margin-right: 0;
}
.modal-menu .nav-item:last-child {
  margin-bottom: 0;
}
.modal-menu .nav__link {
  font-weight: 500;
}
.modal-menu .nav__link:hover {
  color: $l-grey;
}
.modal-menu.active {
  transform: translate(-50%, -50%) scale(1);
}
@media (min-width: 992px) {
  .modal-menu {
    display: none;
  }
  .overlay {
    display: none;
  }
}
.modal-menu .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 39px;
  font-weight: 400;
  position: absolute;
  padding: 0;
  right: 11px;
  top: 0;
}
.modal-body {
  padding: 10px 15px;
}
#overlay {
position: fixed;
opacity: 0;
transition: 200ms ease-in-out;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .5);
pointer-events: none;
}
#overlay.active {
opacity: 1;
pointer-events: all;
}
.tel-img {
  width: 20px;
  @media (max-width: 1201px) {
    display: none;
  }
}

.place-img {
  @media (max-width: 1201px) {
    display: none;
  }
}

.logo {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../img/svg/HOMEFOR.svg);
  background-color: $grey;
  width: 12.875rem;
  height: 5.875rem;
  @media (max-width: 540px) {
    background-size: 71px;
    height: 3.66rem;
  }
}
.burger {
  display: block;
  background-repeat: no-repeat;
  background-position: center 43px;
  background-image: url(../../../img/svg/burger.svg);
  width: 111px;
  height: 90px;
  margin-right: 45px;
  @media (max-width: 1440px) {
    margin-right: 0px;
  }
  @media (max-width: 1200px) {
    margin-right: 0px;
  }
  @media (max-width: 990px) {
    display: none;
  }
}
nav {
  @media (max-width: 990px) {
    display: none;
  }
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  &-item {
    margin-right: 3rem;
    margin-top: 5px;
    @media (max-width: 1440px) {
      margin-right: 1.3rem;
    }
    @media (max-width: 1200px) {
      margin-right: 1rem;
    }
  }
  &-link {
    text-decoration: none;
    color: #fffffe;
    transition: 0.3s ease;
    padding: 0;

    &:hover {
      color: $l-grey;
    }
  }
}

.slider {
  &-item {
    position: relative;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 2.3rem;
    width: 60%;
    @media (max-width: 1430px) {
      width: 80%;
    }

    &__title {
      font-size: 3.75rem;
      color: $white;
      font-weight: 700;
      line-height: 4.375rem;
      @media (max-width: 990px) {
        font-size: 2.7rem;
      }
      @media (max-width: 540px) {
        font-size: 1.66rem;
        line-height: 1.5;
      }
    }

    &__description {
      font-size: 1rem;
      color: $white;
      font-weight: 500;
      margin: 2rem 11.5rem;
      @media (max-width: 990px) {
        margin: 2rem auto;
      }
    }
  }

  &-footer {
    margin-top: 30px;

    &__btn {
      background-color: white;
      text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: 700;
      border-radius: 0;
      padding: 1.3rem 3.3rem;
      letter-spacing: 0.2rem;
    }
  }
}

.slick-dots {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-indent: -9999px;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);

  & > li {
    width: 8px;
    height: 8px;
    background: $l-grey;
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 0;
  }

  & > li.slick-active {
    background: $white;
    opacity: 1;
  }
}
