<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
    </style>
</head>
<body>
@@include("../blocks/modules/header/header.html")
<section class="section-selection">
    <div class="wrapper">
        <div class="selection">
            <div class="selection-1block">
                <div class="block selection-1block__type dropdown">
                    <a href="#" class="block-name" role="button" id="dropdownMenuLink__type" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-offset="10,20">Тип объекта<i
                            class="icon-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink__type">
                        <a class="dropdown-item" href="#">Загородные дома</a>
                        <a class="dropdown-item" href="#">Городские квартиры</a>
                    </div>
                </div>
                <div class="block selection-1block__location dropdown">
                    <a href="#" class="block-name" role="button" id="dropdownMenuLink__location" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-offset="10,20">Район<i class="icon-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink__location">
                        <a class="dropdown-item" href="#">Загородные дома</a>
                        <a class="dropdown-item" href="#">Городские квартиры</a>
                    </div>
                </div>
            </div>
            <div class="selection-2block">
                <div class="selection-2block-box">
                    <div class="selection-2block__type">
                        <div class="block">
                            <a href="#" class="block-name"> Площадь</a>
                        </div>
                        <div class="block">
                            <output class="selection-2block__value" id="outputRange11" for="customRange1"></output>
                            <div class="selection-2block__value2">м2</div>
                            <div class="invalid-feedback">
                                Некорректное число.
                            </div>
                        </div>
                        <div class="block">
                            <input type="range" name="customRange1" class="range" min="0" max="1000" value="120"
                                   id="customRange1">
                            <output id="outputRange1" for="customRange1">120</output>
                        </div>
                    </div>
                </div>
                <div class="selection-2block-box">
                    <div class="selection-2block__type">
                        <div class="block">
                            <a href="#" class="block-name">Цена за м2</a>
                        </div>
                        <div class="block">
                            <output class="selection-2block__value" id="outputRange22" for="customRange2"></output>
                            <div class="selection-2block__value2">тыс.</div>
                            <div class="invalid-feedback">
                                Некорректное число.
                            </div>
                        </div>
                        <div class="block ">
                            <input type="range" name="customRange2" class="range" min="0" max="98000" value="10350"
                                   id="customRange2">
                            <output id="outputRange2" for="customRange2">10350</output>
                        </div>
                    </div>
                </div>
                <div class="selection-2block-box">
                    <div class="selection-2block-footer">
                        <div class="selection-2block-item">
                            <button class="btn selection-2block-footer__reset">Сбросить фильтры</button>
                            <i class="icon-close"></i>
                        </div>
                        <div class="selection-2block-item">
                            <button class="btn selection-2block-footer__show">Показать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-home">
    <div class="wrapper">
        <h2 class="title">Загородные дома</h2>
        <p class="section-home__text">Наши дома расположились в уютных районах Екатеринбурга:<br>Верх-Исетский район,
            Железнодорожный район, Чкаловский район.</p>
        <div class="content">
            <div class="slider-home">
                <div class="slider-home-child">
                    <div class="slider-home-item">
                        <div class="slider-home-thumb">
                            <img class="slider-home-thumb__image" src="../img/home1.png" alt="Дом  “Брусника”">
                            <div class="slider-home-box">
                                <div class="slider-home-info">
                                    <h3 class="slider-home-info__title">Дом “Брусника”</h3>
                                    <p class="slider-home-info__description">ул. Карла Маркса, 60, Екатеринбург</p>
                                </div>
                                <div class="slider-home-info__like">
                                    <div class="slider-home-like">
                                        <div class="slider-home-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-home-box">
                            <div class="slider-home-info">
                                <h3 class="slider-home-info__title">Дом “Брусника”</h3>
                                <p class="slider-home-info__description">ул. Карла Маркса, 60, Екатеринбург</p>
                            </div>
                            <div class="slider-home-info__like">
                                <div class="slider-home-like">
                                    <div class="slider-home-like__img"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-home-footer">
                            <div class="slider-home-options">
                                <div class="slider-home-options__icon slider-home-options__square">200 м2</div>
                                <div class="slider-home-options__icon slider-home-options__land">10 сот</div>
                                <div class="slider-home-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="slider-home-info__like2">
                                <div class="slider-home-footer__price">7 005 456 500 ₽</div>
                                <div class="slider-home-like">
                                    <div class="slider-home-like__img"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-home-child">
                    <div class="slider-home-item">
                        <div class="slider-home-thumb">
                            <img class="slider-home-thumb__image" src="../img/home2.png" alt="Дом  “Трендис”">
                            <div class="slider-home-box">
                                <div class="slider-home-info">
                                    <h3 class="slider-home-info__title">Дом “Трендис”</h3>
                                    <p class="slider-home-info__description">ул. Урицкого, 13, Екатеринбург</p>
                                </div>
                                <div class="slider-home-info__like">
                                    <div class="slider-home-like">
                                        <div class="slider-home-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-home-footer">
                            <div class="slider-home-options">
                                <div class="slider-home-options__icon slider-home-options__square">500 м2</div>
                                <div class="slider-home-options__icon slider-home-options__land">12 сот</div>
                                <div class="slider-home-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="slider-home-footer__price">10 000 234 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="slider-home-child">
                    <div class="slider-home-item">
                        <div class="slider-home-thumb">
                            <img class="slider-home-thumb__image" src="../img/home3.png" alt="Дома  “Панорома”">
                            <div class="slider-home-box">
                                <div class="slider-home-info">
                                    <h3 class="slider-home-info__title">Дома “Панорома”</h3>
                                    <p class="slider-home-info__description">ул. Толстого, 340, Екатеринбург</p>
                                </div>
                                <div class="slider-home-info__like">
                                    <div class="slider-home-like">
                                        <div class="slider-home-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-home-footer">
                            <div class="slider-home-options">
                                <div class="slider-home-options__icon slider-home-options__square">150 м2</div>
                                <div class="slider-home-options__icon slider-home-options__land">13 сот</div>
                                <div class="slider-home-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="slider-home-footer__price">5 045 000 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="slider-home-child">
                    <div class="slider-home-item">
                        <div class="slider-home-thumb">
                            <img class="slider-home-thumb__image" src="../img/home3.png" alt="Дома  “Панорома”">
                            <div class="slider-home-box">
                                <div class="slider-home-info">
                                    <h3 class="slider-home-info__title">Дома “Панорома”</h3>
                                    <p class="slider-home-info__description">ул. Толстого, 340, Екатеринбург</p>
                                </div>
                                <div class="slider-home-info__like">
                                    <div class="slider-home-like">
                                        <div class="slider-home-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-home-footer">
                            <div class="slider-home-options">
                                <div class="slider-home-options__icon slider-home-options__square">150 м2</div>
                                <div class="slider-home-options__icon slider-home-options__land">13 сот</div>
                                <div class="slider-home-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="slider-home-footer__price">5 045 000 500 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-home__progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</section>
<section class="section-apartaments">
    <div class="wrapper">
        <h2 class="title">Городские квартиры</h2>
        <p class="section-apartaments__text">В каталоге квартир вы найдете актуальные планировки и цены.<br>Это те
            квартиры, которые есть в продаже сейчас.</p>
        <div class="content">
            <div class="apartaments">
                <div class="apartaments-child">
                    <div class="apartaments-item">
                        <div class="apartaments-thumb">
                            <img class="apartaments-thumb__image" src="../img/img1.png" alt="Дом  “Жуковка””">
                            <div class="apartaments-box">
                                <div class="apartaments-info">
                                    <h3 class="apartaments-info__title">Дом “Жуковка”</h3>
                                    <p class="apartaments-info__description">ул. Карла Маркса, 60, Екатеринбург</p>
                                </div>
                                <div class="apartaments-info__like">
                                    <div class="apartaments-like">
                                        <div class="apartaments-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apartaments-footer">
                            <div class="apartaments-box">
                                <div class="apartaments-info">
                                    <h3 class="apartaments-info__title">Дом “Жуковка”</h3>
                                    <p class="apartaments-info__description">ул. Карла Маркса, 60, Екатеринбург</p>
                                </div>
                                <div class="apartaments-info__like">
                                    <div class="apartaments-like">
                                        <div class="apartaments-like__img"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartaments-options">
                                <div class="apartaments-options__icon slider-home-options__square">72 м2</div>
                                <div class="apartaments-options__icon slider-home-options__remont">с отделкой</div>
                            </div>

                            <div class="apartaments-info__like2">
                                <div class="apartaments-footer__price">3 006 435 500 ₽</div>
                                <div class="apartaments-like">
                                    <div class="apartaments-like__img"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apartaments-child">
                    <div class="apartaments-item">
                        <div class="apartaments-thumb">
                            <img class="apartaments-thumb__image" src="../img/img2.png" alt="Дом  “Парашют”">
                            <div class="apartaments-box">
                                <div class="apartaments-info">
                                    <h3 class="apartaments-info__title">Дом “Парашют”</h3>
                                    <p class="apartaments-info__description">ул. Зорге, 160, Екатеринбург</p>
                                </div>
                                <div class="apartaments-info__like">
                                    <div class="apartaments-like">
                                        <div class="apartaments-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apartaments-footer">
                            <div class="apartaments-options">
                                <div class="apartaments-options__icon slider-home-options__square">112 м2</div>
                                <div class="apartaments-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="apartaments-footer__price">5 000 974 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="apartaments-child">
                    <div class="apartaments-item">
                        <div class="apartaments-thumb">
                            <img class="apartaments-thumb__image" src="../img/img3.png" alt="Дом  “Весна”">
                            <div class="apartaments-box">
                                <div class="apartaments-info">
                                    <h3 class="apartaments-info__title">Дом “Весна”</h3>
                                    <p class="apartaments-info__description">ул. Заречная, 120, Екатеринбург</p>
                                </div>
                                <div class="apartaments-info__like">
                                    <div class="apartaments-like">
                                        <div class="apartaments-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apartaments-footer">
                            <div class="apartaments-options">
                                <div class="apartaments-options__icon slider-home-options__square">100 м2</div>
                                <div class="apartaments-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="apartaments-footer__price">6 120 412 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="apartaments-child">
                    <div class="apartaments-item">
                        <div class="apartaments-thumb">
                            <img class="apartaments-thumb__image" src="../img/img4.png" alt="Дом  “Пионер”">
                            <div class="apartaments-box">
                                <div class="apartaments-info">
                                    <h3 class="apartaments-info__title">Дом “Пионер”</h3>
                                    <p class="apartaments-info__description">ул. Карла Маркса, 120, Екатеринбург</p>
                                </div>
                                <div class="apartaments-info__like">
                                    <div class="apartaments-like">
                                        <div class="apartaments-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apartaments-footer">
                            <div class="apartaments-options">
                                <div class="apartaments-options__icon slider-home-options__square">90 м2</div>
                                <div class="apartaments-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="apartaments-footer__price">3 120 000 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="apartaments-child">
                    <div class="apartaments-item">
                        <div class="apartaments-thumb">
                            <img class="apartaments-thumb__image" src="../img/img5.png" alt="Дом  “Манхетен”">
                            <div class="apartaments-box">
                                <div class="apartaments-info">
                                    <h3 class="apartaments-info__title">Дом “Манхетен”</h3>
                                    <p class="apartaments-info__description">ул. Московская, 10, Екатеринбург</p>
                                </div>
                                <div class="apartaments-info__like">
                                    <div class="apartaments-like">
                                        <div class="apartaments-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apartaments-footer">
                            <div class="apartaments-options">
                                <div class="apartaments-options__icon slider-home-options__square">87 м2</div>
                                <div class="apartaments-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="apartaments-footer__price">6 000 456 000 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="apartaments-child">
                    <div class="apartaments-item">
                        <div class="apartaments-thumb">
                            <img class="apartaments-thumb__image" src="../img/img6.png" alt="Дом  “Дружба”">
                            <div class="apartaments-box">
                                <div class="apartaments-info">
                                    <h3 class="apartaments-info__title">Дом “Дружба”</h3>
                                    <p class="apartaments-info__description">ул. Прашина, 60, Екатеринбург</p>
                                </div>
                                <div class="apartaments-info__like">
                                    <div class="apartaments-like">
                                        <div class="apartaments-like__img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apartaments-footer">
                            <div class="apartaments-options">
                                <div class="apartaments-options__icon slider-home-options__square">50 м2</div>
                                <div class="apartaments-options__icon slider-home-options__remont">с отделкой</div>
                            </div>
                            <div class="apartaments-footer__price">4 012 400 500 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="apartaments-btn">
                <button class="apartaments-btn__text">Смотреть больше</button>
            </div>
        </div>
    </div>
</section>
<section class="section-genplan">
    <div class="wrapper">
        <h2 class="title">Генплан</h2>
        <p class="section-genplan__text">На генплане вы можете посмотреть территорию покупки. В поселке все
            предусмотрено.<br>Здесь проведены необходимые коммуникации.Это место влюбляет в себя.</p>
        <div class="content">
            <div class="genplan">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Загородные дома</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="appartaments-tab" data-toggle="tab" href="#appartaments" role="tab"
                           aria-controls="appartaments" aria-selected="false">Городские квартиры</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <img class="tab-content__image" src="../img/genplan.png" alt="Загородные дома">
            <div class="tab-content__metka m56">
                <div class="tab-content__bubble">
                    <div class="tab-content__bubble-title">Дом 56</div>
                    <div class="tab-content__bubble-text">Вы можете приобрести<br>10 567 457руб</div>
                </div>
            </div>
            <div class="tab-content__metka m23">
                <div class="tab-content__bubble">
                    <div class="tab-content__bubble-title">Дом 23</div>
                    <div class="tab-content__bubble-text"></div>
                </div>
            </div>
            <div class="tab-content__metka m234">
                <div class="tab-content__bubble">
                    <div class="tab-content__bubble-title">Дом 234</div>
                    <div class="tab-content__bubble-text"></div>
                </div>
            </div>
            <div class="tab-content__metka m27">
                <div class="tab-content__bubble">
                    <div class="tab-content__bubble-title">школа №27</div>
                    <div class="tab-content__bubble-text"></div>
                </div>
            </div>
            <div class="tab-content__metka m116">
                <div class="tab-content__bubble">
                    <div class="tab-content__bubble-title">Дом 116</div>
                    <div class="tab-content__bubble-text"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade disabled" id="appartaments" role="tabpanel" aria-labelledby="appartaments-tab">
            Городские квартиры
        </div>
    </div>
</section>
<section class="section-about">
    <div class="wrapper">
        <h2 class="title">О компании</h2>
        <p class="section-about__text">Профессиональный оператор рынка элитной недвижимости с 2008 года.<br>HOMEFOR –
            это сочетание репутации, многолетнего опыта и высокого уровня сервиса.<br>Компания заслужила доверие и
            признание профессиональных участников рынка
        </p>
        <div class="content">
            <div class="about">
                <ul class="about-list">
                    <li class="about-list__item about-list__01">Большой опыт<br>в строительстве</li>
                    <li class="about-list__item about-list__02">Доступные цены</li>
                    <li class="about-list__item about-list__03">Оперативные сроки работы</li>
                    <li class="about-list__item about-list__04">Качественные материалы</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-news">
    <div class="wrapper">
        <h2 class="title">Наши новости</h2>
        <p class="section-news__text">Узнай новости компании первым. Мы всегда остаемся в тренде.
        </p>
        <div class="content">
            <div class="slider-news">
                <div class="slider-news-child">
                    <div class="slider-news-item">
                        <div class="slider-news-thumb">
                            <img class="slider-news-thumb__image" src="../img/img9.png" alt="">
                            <div class="slider-news-box">
                                <div class="slider-news-info">
                                    <h3 class="slider-news-info__title">02.04.2020</h3>
                                    <p class="slider-news-info__description">В 2018 году происходили изменения в главном
                                        законе долевого строительства ФЗ-214 для решения сложной задачи – строительства
                                        120 млн квадратных метров жилья нового качества и усиления контроля </p>
                                    <a href="#" class="slider-news__link">Смотреть больше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-news-child">
                    <div class="slider-news-item">
                        <div class="slider-news-thumb">
                            <img class="slider-news-thumb__image" src="../img/img9.png" alt="">
                            <div class="slider-news-box">
                                <div class="slider-news-info">
                                    <h3 class="slider-news-info__title">02.04.2020</h3>
                                    <p class="slider-news-info__description">В 2018 году происходили изменения в главном
                                        законе долевого строительства ФЗ-214 для решения сложной задачи – строительства
                                        120 млн квадратных метров жилья нового качества и усиления контроля </p>
                                    <a href="#" class="slider-news__link">Смотреть больше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-news-child">
                    <div class="slider-news-item">
                        <div class="slider-news-thumb">
                            <img class="slider-news-thumb__image" src="../img/img9.png" alt="">
                            <div class="slider-news-box">
                                <div class="slider-news-info">
                                    <h3 class="slider-news-info__title">02.04.2020</h3>
                                    <p class="slider-news-info__description">В 2018 году происходили изменения в главном
                                        законе долевого строительства ФЗ-214 для решения сложной задачи – строительства
                                        120 млн квадратных метров жилья нового качества и усиления контроля </p>
                                    <a href="#" class="slider-news__link">Смотреть больше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-news-child">
                    <div class="slider-news-item">
                        <div class="slider-news-thumb">
                            <img class="slider-news-thumb__image" src="../img/img9.png" alt="">
                            <div class="slider-news-box">
                                <div class="slider-news-info">
                                    <h3 class="slider-news-info__title">02.04.2020</h3>
                                    <p class="slider-news-info__description">В 2018 году происходили изменения в главном
                                        законе долевого строительства ФЗ-214 для решения сложной задачи – строительства
                                        120 млн квадратных метров жилья нового качества и усиления контроля </p>
                                    <a href="#" class="slider-news__link">Смотреть больше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-news__progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</section>
@@include("../blocks/modules/footer/footer.html")
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.5.9/slick/slick.min.js"></script>
<script>
    $('.slider').slick({
        dots: true,
        infinite: false,
        arrows: false,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1200,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: true
                }
            },
            {
                breakpoint: 540,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: true
                }
            }
        ]
    });
</script>
<script>
    $(function () {
        var el;
        $("#customRange1").change(function () {
            el = $(this);
            el
                .next("#outputRange1")
                .text(el.val());
        })
            .trigger('change');
    });
    $(function () {
        var el;
        $("#customRange2").change(function () {
            el = $(this);
            el
                .next("#outputRange2")
                .text(el.val());
        })
            .trigger('change');
    });
</script>
<script>
    const $slider_home = $('.slider-home');
    const $progressBar_home = $('.slider-home__progress');
    const $progressBarLabel_home = $('.slider-home__label');

    function setProgressHome(index) {
        const calc = ((index + 1) / ($slider_home.slick('getSlick').slideCount)) * 100;

        $progressBar_home
            .css('background-size', `${calc}% 100%`)
            .attr('aria-valuenow', calc);

        $progressBarLabel_home.text(`${calc.toFixed(2)}% completed`);
    }

    $slider_home.on('beforeChange', function (event, slick, currentSlide, nextSlide) {
        setProgressHome(nextSlide);
    });
    $slider_home.slick({
        dots: false,
        infinite: false,
        arrows: true,
        speed: 400,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1200,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    arrows: true,
                    dots: false
                }
            },
            {
                breakpoint: 990,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    arrows: false,
                    dots: true
                }
            },
            {
                breakpoint: 700,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: true
                }
            }
        ]
    });
    setProgressHome(0);
</script>
<script>
    const $slider_new = $('.slider-news');
    const $progressBar_new = $('.slider-news__progress');
    const $progressBarLabel_new = $('.slider-news__label');

    function setProgress(index) {
        const calc = ((index + 1) / ($slider_new.slick('getSlick').slideCount)) * 100;

        $progressBar_new
            .css('background-size', `${calc}% 100%`)
            .attr('aria-valuenow', calc);

        $progressBarLabel_new.text(`${calc.toFixed(2)}% completed`);
    }

    $slider_new.on('beforeChange', function (event, slick, currentSlide, nextSlide) {
        setProgress(nextSlide);
    });
    $slider_new.slick({
        dots: false,
        infinite: false,
        arrows: true,
        speed: 400,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1200,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    arrows: true,
                    dots: false
                }
            },
            {
                breakpoint: 990,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: true
                }
            }
        ]
    });
    setProgress(0);
</script>

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
